a {
    color: blue;
    text-decoration: none; /* Remove underlines from links */
}

/* Visited link */
a:visited {
    color: purple;
}

/* Mouse over link */
a:hover {
    color: red;
    text-decoration: underline; /* Underline links on hover */
}

/* Selected link */
a:active {
    color: green;
}
